/* ---- Futura Std ---- */
@font-face {
    font-family: 'Futura Std';
    src: url("../fonts/Futura_STD/FuturaStdBook.otf");
}

.FuturaStd {
    font-family: 'Futura Std';
}

@font-face {
    font-family: 'Futura Std Light';
    src: url("../fonts/Futura_STD/FuturaStdLight.otf");
}

.FuturaStdLight {
    font-family: 'Futura Std Light';
}

@font-face {
    font-family: 'Futura Std Condensed Light';
    src: url("../fonts/Futura_STD/FuturaStdCondensedLight.otf");
}

.FuturaStdCondensedLight {
    font-family: 'Futura Std Condensed Light';
}

@font-face {
    font-family: 'Futura Std Bold';
    src: url("../fonts/Futura_STD/FuturaStdBold.otf");
}

.FuturaStdBold {
    font-family: 'Futura Std Bold';
}

@font-face {
    font-family: 'Futura Std Extra Bold';
    src: url("../fonts/Futura_STD/FuturaStdExtraBold.otf");
}

.FuturaStdExtraBold {
    font-family: 'Futura Std Extra Bold';
    color: #CCFF00;
}

@font-face {
    font-family: 'Futura Std Condensed Bold';
    src: url("../fonts/Futura_STD/FuturaStdCondensedBold.otf");
}

.FuturaStdCondensedBold {
    font-family: 'Futura Std Condensed Bold';
}

@font-face {
    font-family: 'Futura Std Book';
    src: url("../fonts/Futura_STD/FuturaStdBook.otf");
}

.FuturaStdBook {
    font-family: 'Futura Std Book';
}

@font-face {
    font-family: 'Futura Std Condensed Extra Bold';
    src: url("../fonts/Futura_STD/FuturaStdCondensedExtraBd.otf");
}

.FuturaStdCondensedExtraBold {
    font-family: 'Futura Std Condensed Extra Bold';
}

@font-face {
    font-family: 'Futura Std Medium';
    src: url("../fonts/Futura_STD/FuturaStdMedium.otf");
}

.FuturaStdMedium {
    font-family: 'Futura Std Medium';
}

/* ---- Karma ---- */

@font-face {
    font-family: 'Karma Bold';
    src: url("../fonts/Karma/Karma-Bold.ttf");
}

.KarmaBold {
    font-family: 'Karma Bold';
}

/* ---- Arquitecta ---- */

@font-face {
    font-family: 'Arquitecta Black';
    src: url("../fonts/Arquitecta/Latinotype - ArquitectaBlack.otf");
}

.ArquitectaBlack {
    font-family: 'Arquitecta Black';
}

@font-face {
    font-family: 'Arquitecta Book';
    src: url("../fonts/Arquitecta/Latinotype - ArquitectaBook.otf");
}

.ArquitectaBold {
    font-family: 'Arquitecta Bold';
}

@font-face {
    font-family: 'Arquitecta Bold';
    src: url("../fonts/Arquitecta/Latinotype - ArquitectaBold.otf");
}

.ArquitectaBook {
    font-family: 'Arquitecta Book';
}

/* ---- East Good ---- */

@font-face {
    font-family: 'EastGood';
    src: url("../fonts/Eastgood/Eastgood.otf");
}

.EastGood {
    font-family: 'EastGood';
}

/* ---- Montserrat ---- */

@font-face {
    font-family: 'Montserrat Extra Bold';
    src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
}

.MontserratExtraBold {
    font-family: 'Montserrat Extra Bold';
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

.MontserratRegular {
    font-family: 'Montserrat Regular';
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

.MontserratExtraBold {
    font-family: 'Montserrat Extra Bold';
}

/* ---- Pulp Display ---- */

@font-face {
    font-family: 'Pulp Display Light';
    src: url("../fonts/Pulp_Display/PulpDisplay-Light.ttf");
}

.PulpDisplayLight {
    font-family: 'Pulp Display Light';
}

@font-face {
    font-family: 'Pulp Display Bold';
    src: url("../fonts/Pulp_Display/PulpDisplay-Bold.ttf");
}

.PulpDisplayBold {
    font-family: 'Pulp Display Bold';
}

/* ---- font-size ---- */

.font-size-10 {
    font-size: 18vh;
}

/* ---- font-weight ---- */

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-750 {
    font-weight: 750;
}

/* letter-spacing */

.letter-spacing-20 {
    letter-spacing: 0.2em;
}