/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #071017;
    background-image: url("./../resources/Portfolio/Background.png");
    background-size: 195vh;
    scroll-behavior: smooth;
    /* opacity: 0; */
}

/* body.fade-in {
    opacity: 0;
}

body.fade-in-active {
    transition: opacity 1s ease-in-out;
    opacity: 1;
} */

.light {
    width: 52.5vw;
    height: 210vh;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(ellipse farthest-corner at center, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0) 70%);
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: 1;
}

header {
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 98vw;
    height: 8vh;
    padding: 20px;
    z-index: 1000;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: #FFFFFF;
}

header .mobileArrow {
    display: none;
}

#pages {
    width: 30vw;
    max-width: 90%;
}

#pages a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.backgroundSizeContainer2 {
    height: 3vh;
    width: 1.5vw;
    max-width: 2.2vw;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    transition: opacity 0.3s, background-image 0.3s;
}

.home-icon, .mywork-icon, .aboutme-icon, .contact-icon {
    transition: background-image 0.3s, opacity 0.3s;
}

.home-icon.current {
    opacity: 1;
}

.mywork-icon.current {
    opacity: 1;
}

.aboutme-icon.current {
    opacity: 1;
}

.contact-icon.current {
    opacity: 1;
}

#pages a.locked .backgroundSizeContainer2 {
    pointer-events: none;
}

.current-text {
    color: #CCFF00;
    font-family: 'Futura Std Bold' !important;
}

.current path {
    fill: #CCFF00;
}

.current.hovered path {
    fill: #FFFFFF;
}

#pages a:hover .backgroundSizeContainer2 {
    opacity: 1;
}

#pages a p.hovered-text {
    color: white;
}

#pages a p {
    font-size: 2vh;
    font-family: 'Futura Std Book';
}

#backgroundHeader {
    z-index: -1;
    background-color: #071017;
    opacity: 50%;
    position: absolute;
    border-radius: 17px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.backgroundSizeContainer {
    background-size: contain;
    background-repeat: no-repeat;
    height: 5vh;
    width: 20vw;
    max-width: 2.2vw;
    cursor: pointer;
}

#iconInstagram:hover path, #iconMessage:hover path, #iconLinkedin:hover path {
    fill: #CCFF00;
    transition: fill 0.3s ease;
}

#langCat {
    background-image: url("./../resources/Portfolio/Icon_Catala_Color.svg");}

#langCast {
    background-image: url("./../resources/Portfolio/Icon_Castella_Color.svg");
}

#langEng {
    background-image: url("./../resources/Portfolio/Icon_English_Color.svg");
}

#langCat:hover, #langCat.active {
    filter: grayscale(0%);
}

#langCast:hover, #langCast.active {
    filter: grayscale(0%);
}

#langEng:hover, #langEng.active {
    filter: grayscale(0%);
}

#langCast, #langEng, #langCat {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

#icons {
    width: 15vw;
    max-width: 90%;
}

#languages {
    width: 15vw;
    max-width: 90%;
}

.flex_around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex_between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#icons.flex_between {
    width: 10vw;
}

.flex_center_row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.flex_center_column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

footer {
    background: #071017;
    color: #FFFFFF;
    width: 100%;
    height: 4.5vh;
    font-size: 2vh;
    font-family: "Futura Std Light";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5% 0 0.5% 0;
}

#desktop {
    /* height: 120vh; */
    width: 100%;
    height: fit-content;
    scroll-behavior: smooth;
}

/* ---- TITLE ---- */
#generalTitle {
    width: 100%;
    height: 58vh;
    display: flex;
    justify-content: center;
}

#generalTitleContainer {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#generalLogo {
    width: 14vw;
    height: 30vh;
    background-color: #071017;
    border: 0.3vh solid #000000;
    border-radius: 3vh;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

#generalDescription {
    width: 60vw;
    height: 30vh;
    background-color: #071017;
    border: 0.3vh solid #000000;
    border-radius: 3vh;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3%;
    box-sizing: border-box;
}

#generalDescription>p {
    font-size: 1.2vw;
    font-family: 'Futura Std Book';
    font-weight: 400;
}

#generalDescription>#title {
    font-size: 2.3vw;
    font-family: 'Futura Std Condensed Extra Bold';
}

#generalDescription>p>#agency, #generalDescription>p>#year {
    color: #CCFF00;
}

/* ---- Social ---- */
#redBar {
    width: 100%;
    height: 4.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5% 0 0.5% 0;
}

#redBarContainer {
    width: 10.5vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#redBar>#redBarContainer>#iconInstagram {
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

#redBarContainer>#iconWeb {
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

#projectLeft, #projectRight {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 10%;
    font-size: 1vw;
}

.anterior {
    margin-left: 10%;
}

.siguiente {
    margin-right: 10%;
}

#arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black;
}

#arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
}


/* --- MOBILE MODE --- */
@media only screen and (max-device-width : 480px) {

    header {
        top: unset;
        bottom: 0;
        width: 100%;
        z-index: 9999;
        height: 5vh;
        box-sizing: content-box;
        transition: height 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .mobileArrow {
        display: block;
        content: '';
        position: absolute;
        left: 50%;
        top: -3vh;
        transform: translateX(-50%) rotate(45deg);
        width: 18vw;
        height: 18vw;
        background-color: #071017;
        z-index: -2;
        transform-origin: center center;
    }

    header .iconArrow {
        content: '';
        transform: translate(18%, 18%) rotate(-45deg);
        width: 7vw;
        height: 7vw;
        max-height: 100%;
        background-image: url("./../resources/Portfolio/Icon_Arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        transform-origin: center center;
    }

    #icons {
        display: none;
    }

    #languages {
        display: none;
    }

    #backgroundHeader {
        opacity: 1;
    }

    #pages {
        width: 100vw;
        max-width: 100%;
    }

    .backgroundSizeContainer2 {
        width: 5.5vw;
        max-width: 5.5vw;
        background-position: bottom;
    }

    #generalTitleContainer {
        height: 52%;
        position: absolute;
        top: 15%;
        z-index: 100;
    }

    #generalLogo {
        width: 24vw;
        height: 14vh;
        position: absolute;
        top: -15%;
        left: 50%;
        transform: translate(-50%, 0%);
        border: 0.3vh solid #22425A;
    }

    #generalDescription {
        width: 80vw;
        height: 52vh;
        align-items: center;
    }

    #generalDescription>#title {
        font-size: 7vw;
        margin-top: 12%;
        margin-bottom: 6%;
    }

    #generalDescription>p {
        width: 90%;
        font-size: 2.2vh;
        text-align: center;
    }

    footer {
        height: 14.5vh;
        font-size: 2vh;
        flex-direction: column;
        margin-bottom: 30vw;
    }

    #redBar {
        height: 8.5vh;
    }

    #redBarContainer {
        width: 45%;
    }

    #projectLeft, #projectRight {
        font-size: 3vw;
    }

    #redBar>#iconInstagram {
        width: 10%;
    }

    #redBar>#iconWeb {
        width: 10%;
    }
}