/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #071017;
    background-image: url("../resources/Portfolio/Background.png");
    scroll-behavior: smooth;
    opacity: 0;
}

body.fade-in {
    opacity: 0;
}

body.fade-in-active {
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.light {
    width: 52.5vw;
    height: 210vh;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(ellipse farthest-corner at center, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0) 70%);
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: 1;
}

header {
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 98vw;
    height: 8vh;
    padding: 20px;
    z-index: 1000;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: #FFFFFF;
}

#pages {
    width: 30vw;
    max-width: 90%;
}

#pages a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.backgroundSizeContainer2 {
    height: 3vh;
    width: 1.5vw;
    max-width: 2.2vw;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    transition: opacity 0.3s, background-image 0.3s;
}

.home-icon, .mywork-icon, .aboutme-icon, .contact-icon {
    transition: background-image 0.3s, opacity 0.3s;
    /* Agregado opacity a la transición */
}

.home-icon {
    background-image: url("../resources/Portfolio/Home_50.png");
}

.home-icon.current {
    background-image: url("../resources/Portfolio/Home_V.png");
    opacity: 1;
}

.mywork-icon {
    background-image: url("../resources/Portfolio/MyWork_50.png");
}

.mywork-icon.current {
    background-image: url("../resources/Portfolio/MyWork_V.png");
    opacity: 1;
}

.aboutme-icon {
    background-image: url("../resources/Portfolio/About_me_50.png");
}

.aboutme-icon.current {
    background-image: url("../resources/Portfolio/About_me_V.png");
    opacity: 1;
}

.contact-icon {
    background-image: url("../resources/Portfolio/Contacto_50.png");
}

.contact-icon.current {
    background-image: url("../resources/Portfolio/Contacto_V.png");
    opacity: 1;
}

#pages a.locked .backgroundSizeContainer2 {
    pointer-events: none;
}

.current-text {
    color: #CCFF00;
}

#pages a:hover .backgroundSizeContainer2 {
    opacity: 1;
    /* Ajuste de la opacidad al pasar el ratón sobre el enlace */
}

#pages a:hover .icon-home {
    background-image: url("../resources/Portfolio/Home_W.png");
}

#pages a:hover .icon-mywork {
    background-image: url("../resources/Portfolio/MyWork_W.png");
}

#pages a:hover .icon-aboutme {
    background-image: url("../resources/Portfolio/About_me_W.png");
}

#pages a:hover .icon-contact {
    background-image: url("../resources/Portfolio/Contacto_W.png");
}

#pages a p.hovered-text {
    color: white;
}

#pages a p {
    font-size: 2vh;
}

#backgroundHeader {
    z-index: -1;
    background-color: #071017;
    opacity: 50%;
    position: absolute;
    border-radius: 17px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.backgroundSizeContainer {
    background-size: contain;
    background-repeat: no-repeat;
    height: 5vh;
    width: 20vw;
    max-width: 2.2vw;
}

#iconInstagram {
    background-image: url("../resources/Portfolio/Icon_Instagram.png");
}

#iconInstagram:hover {
    background-image: url("../resources/Portfolio/Icon_Instagram_V.png");
}

#iconLinkedin {
    background-image: url("../resources/Portfolio/Icon_Linkedin.png");
}

#iconLinkedin:hover {
    background-image: url("../resources/Portfolio/Icon_Linkedin_V.png");
}

#iconMessage {
    background-image: url("../resources/Portfolio/Icon_Message.png");
}

#iconMessage:hover {
    background-image: url("../resources/Portfolio/Icon_Message_V.png");
}

#langCat {
    background-image: url("../resources/Portfolio/Icon_Catala_BW.png");
}

#langCat:hover {
    background-image: url("../resources/Portfolio/Icon_Catala_Color.png");
}

#langCast {
    background-image: url("../resources/Portfolio/Icon_Castella_Color.png");
}

#langEng {
    background-image: url("../resources/Portfolio/Icon_English_BW.png");
}

#langEng:hover {
    background-image: url("../resources/Portfolio/Icon_English_Color.png");
}


#icons {
    width: 20vw;
    max-width: 90%;
}

#languages {
    width: 20vw;
    max-width: 90%;
}

.flex_around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex_center_row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.flex_center_column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

footer {
    background: #071017;
    color: #FFFFFF;
    width: 100%;
    height: 5vh;
    font-size: 2vh;
    font-family: "Futura Std Light";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#desktop {
    /* height: 120vh; */
    width: 100%;
    height: fit-content;
    scroll-behavior: smooth;
}