/* ---- TITLE ---- */
#elPrimoTitle {
    width: 100%;
    height: 58vh;
    display: flex;
    justify-content: center;
}

#elPrimoTitleContainer {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#elPrimoLogo {
    width: 15vw;
    height: 30vh;
    background-color: #071017;
    border-radius: 3vh;
    background-image: url("../../resources/Portfolio/Logo_elPrimo_SVG.svg");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

#elPrimoDescription {
    width: 60vw;
    height: 30vh;
    background-color: #071017;
    border-radius: 3vh;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3%;
    box-sizing: border-box;
}

#elPrimoDescription>p {
    font-size: 1.2vw;
}

#elPrimoDescription>#title {
    font-size: 2.3vw;
}

#elPrimoDescription>p>#agency, #elPrimoDescription>p>#year {
    color: #CCFF00;
}

/* ---- WHITE ---- */
#elPrimoWhite {
    width: 100%;
    height: 600vh;
    background: linear-gradient(180deg, #00B7FF 0%, #04E2F3 32.88%, #F500A5 52.07%, #FF0D1B 72.05%);
    /* background-image: url("./../../resources/El Primo/Fondo_Elprimo.png"); */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.background-lights {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 190vh;
    background-image: url("./../../resources/El Primo/Rayos.svg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 1) 10%);
}

.background-world {
    position: absolute;
    top: 1%;
    left: 0%;
    width: 100%;
    height: 28%;
    background-image: url("./../../resources/El Primo/World.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.1s ease;
}

.video-world {
    position: absolute;
    width: 50vh;
    height: 90vh;
    overflow: hidden;
    top: 45vh;
    left: 37%;
    border-radius: 4vw;
    border: 13px solid #FFFFFF;
    rotate: 5deg;
    z-index: 2;
    transition: transform 0.3s;
}

.video-world:hover {
    transform: scale(1.1);
}

.video-world video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cloud1 {
    position: absolute;
    top: 5%;
    left: -2%;
    width: 27%;
    height: 12%;
    background-image: url("./../../resources/El Primo/Nubeversario 1.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cloud2 {
    position: absolute;
    top: 0%;
    left: 36%;
    width: 20%;
    height: 4%;
    background-image: url("./../../resources/El Primo/Nubeversario 2.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cloud3 {
    position: absolute;
    top: 3%;
    left: 75%;
    width: 20%;
    height: 10%;
    background-image: url("./../../resources/El Primo/Nubeversario 3.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    rotate: 66.36deg;
}

.cloud4 {
    position: absolute;
    top: 20%;
    left: 80%;
    width: 20%;
    height: 4%;
    background-image: url("./../../resources/El Primo/Nubeversario 2.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    rotate: 118.24deg;
}

.background-happy {
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    height: 250vh;
    background-image: url("./../../resources/El Primo/Rayos.png");
    background-position: center;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 1) 50%);

}








/* ---- Social ---- */
#redBar {
    width: 100%;
    height: 4.5vh;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5% 0 0.5% 0;
}

#redBar>#iconInstagram {
    width: 3%;
    height: 90%;
    background-image: url("../../resources/Iconos_Web_Instagram_SVG/Icon_Instagram_ElPrimo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}