/* ---- TITLE ---- */
#elPrimoTitle {
    width: 100%;
    height: 58vh;
    display: flex;
    justify-content: center;
}

#elPrimoTitleContainer {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#elPrimoLogo {
    width: 15vw;
    height: 30vh;
    background-color: #071017;
    border-radius: 3vh;
    background-image: url("../../resources/Portfolio/Logo_ElPrimo_SVG.svg");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

#elPrimoDescription {
    width: 60vw;
    height: 30vh;
    background-color: #071017;
    border-radius: 3vh;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3%;
    box-sizing: border-box;
}

#elPrimoDescription>p {
    font-size: 1.2vw;
}

#elPrimoDescription>#title {
    font-size: 2.3vw;
}

#elPrimoDescription>p>#agency, #elPrimoDescription>p>#year {
    color: #CCFF00;
}

/* ---- WHITE ---- */
#elPrimoWhite {
    width: 100%;
    height: 750vh;
    background: linear-gradient(180deg, #00B7FF 0%, #04E2F3 32.88%, #F500A5 52.07%, #FF0D1B 72.05%);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.background-lights {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 190vh;
    background-image: url("./../../resources/El Primo/Rayos.svg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 1) 10%);
}

.background-world {
    position: absolute;
    top: 1%;
    left: 0%;
    width: 100%;
    height: 169vh;
    background-image: url("./../../resources/El Primo/World.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 1.5s ease-out;
    z-index: 2;
}

.video-world {
    position: absolute;
    width: 50vh;
    height: 90vh;
    overflow: hidden;
    top: 45vh;
    left: 37%;
    border-radius: 3vw;
    border: 1vh solid #FFFFFF;
    rotate: 5deg;
    z-index: 2;
    background-color: #FFFFFF;
    transition: transform 0.3s;
}

.video-world:hover {
    transform: scale(1.1);
}

.video-world video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cloud-container {
    position: absolute;
    top: 1%;
    left: 0%;
    width: 100%;
    height: 169vh;
    transform-origin: center;
    transition: transform 2s ease-out
}

.cloud-container .cloud {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.cloud-container .cloud1 {
    top: 18%;
    left: -2%;
    width: 36vw;
    height: 62vh;
    background-image: url("./../../resources/El Primo/Nubeversario 1.svg");
}

.cloud-container .cloud2 {
    top: 0%;
    left: 36%;
    width: 20vw;
    height: 13vh;
    background-image: url("./../../resources/El Primo/Nubeversario 2.svg");
}

.cloud-container .cloud3 {
    top: 20%;
    left: 75%;
    width: 20%;
    height: 10%;
    background-image: url("./../../resources/El Primo/Nubeversario 3.svg");
    rotate: 73.36deg;
}

.cloud-container .cloud4 {
    top: 69%;
    left: 78%;
    width: 22%;
    height: 8%;
    background-image: url("./../../resources/El Primo/Nubeversario 2.svg");
    rotate: 118.24deg;
}

.number-container {
    position: absolute;
    width: 100%;
    height: 169vh;
    top: 0%;
    left: 0%;
}

.primo-number {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./../../resources/El Primo/3.svg");
    z-index: 1;
    transition: top 2s ease-out, left 2s ease-out, right 2s ease-out, bottom 2s ease-out;
}

.primo-number1 {
    top: 45%;
    left: 45%;
    width: 7%;
    height: 26vh;
    rotate: -41.87deg;
}

.primo-number2 {
    top: 45%;
    right: 45%;
    width: 7%;
    height: 26vh;
    rotate: 2.55deg;
}

.primo-number3 {
    bottom: 45%;
    left: 45%;
    width: 9%;
    height: 33.5vh;
}

.primo-number4 {
    bottom: 45%;
    right: 45%;
    width: 6.9%;
    height: 25.5vh;
    rotate: -59.42deg;
}



.primo-aniversary1 {
    position: absolute;
    top: 23%;
    left: 15%;
    width: 27%;
    height: 83vh;
    background-image: url("./../../resources/El Primo/Primoversary_Poster.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1vh solid #FFFFFF;
    rotate: -8.3deg;
    z-index: 3;
    transition: transform 0.3s;
}

.primo-aniversary1:hover {
    transform: scale(1.1);
}

.primo-aniversary2 {
    position: absolute;
    top: 26%;
    left: 50%;
    width: 46%;
    height: 50vh;
    background-image: url("./../../resources/El Primo/Primoversary_Eventbrite.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1vh solid #FFFFFF;
    rotate: 8.15deg;
    z-index: 3;
    transition: transform 0.3s;
}

.primo-aniversary2:hover {
    transform: scale(1.1);
}

.background-happy {
    position: absolute;
    top: 26%;
    left: 0%;
    width: 100%;
    height: 250vh;
    background-image: url("./../../resources/El Primo/Rayos.png");
    background-position: center;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 1) 50%);
}

.video-happy {
    position: absolute;
    width: 53vh;
    height: 93vh;
    overflow: hidden;
    top: 40%;
    left: 37%;
    border-radius: 3vw;
    border: 1vh solid #FFFFFF;
    rotate: -4.19deg;
    z-index: 3;
    background-color: #FFFFFF;
    transition: transform 0.3s;
}

.video-happy:hover {
    transform: scale(1.1);
}

.video-happy video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.r-back1 {
    position: absolute;
    top: 43%;
    left: 22%;
    width: 28%;
    height: 64vh;
    background-image: url("./../../resources/El Primo/Recuadros_Back.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.r-back2 {
    position: absolute;
    top: 42.5%;
    left: 50%;
    width: 28%;
    height: 64vh;
    background-image: url("./../../resources/El Primo/Recuadros_Back.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    rotate: 30deg;
    z-index: 1;
}

.primo-hand {
    position: absolute;
    background-image: url("./../../resources/El Primo/Mano.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: right center;
    z-index: 1;
}

.hand-left1 {
    top: 42%;
    left: 16%;
    width: 27%;
    height: 33vh;
    rotate: 25deg;
}

.hand-left2 {
    top: 44%;
    left: 18%;
    width: 27%;
    height: 33vh;
    rotate: 0deg;
}

.hand-left3 {
    top: 46%;
    left: 22%;
    width: 27%;
    height: 33vh;
    rotate: -20deg;
}

.hand-right1 {
    top: 41%;
    right: 42%;
    width: 27%;
    height: 33vh;
    rotate: -25deg;
}

.hand-right2 {
    top: 43%;
    right: 44%;
    width: 27%;
    height: 33vh;
    rotate: 0deg;
}

.hand-right3 {
    top: 44%;
    right: 46%;
    width: 27%;
    height: 33vh;
    rotate: 29deg;
}

.primo-high1 {
    position: absolute;
    top: 55%;
    left: 15%;
    width: 27%;
    height: 83vh;
    background-image: url("./../../resources/El Primo/HappyHigh_Poster.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1vh solid #FFFFFF;
    rotate: -8.3deg;
    z-index: 3;
    transition: transform 0.3s;
}

.primo-high1:hover {
    transform: scale(1.1);
}

.primo-high2 {
    position: absolute;
    top: 56%;
    left: 50%;
    width: 44%;
    height: 47vh;
    background-image: url("./../../resources/El Primo/HappyHigh_Eventbrite.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1vh solid #FFFFFF;
    rotate: 8.15deg;
    z-index: 3;
    transition: transform 0.3s;
}

.primo-high2:hover {
    transform: scale(1.1);
}

.flowers-container {
    position: absolute;
    width: 100%;
    height: 250vh;
    top: 35%;
    left: 0%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.primo-flowers {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: center center;
    transition: top 3s ease-out, left 3s ease-out, right 3s ease-out, bottom 3s ease-out;
}

.primo-flowers1-1 {
    width: 28.8vw;
    height: 59vh;
    background-image: url("./../../resources/El Primo/Flor 1.svg");
}

.primo-flowers1-2 {
    width: 23vw;
    height: 47vh;
    rotate: 33deg;
    background-image: url("./../../resources/El Primo/Flor 1.svg");
}

.primo-flowers1-3 {
    width: 6vw;
    height: 14vh;
    background-image: url("./../../resources/El Primo/Flor 3.svg");
}

.primo-flowers1-4 {
    width: 6vw;
    height: 13vh;
    background-image: url("./../../resources/El Primo/Flor 2.svg");
}

.primo-flowers1-5 {
    width: 14vw;
    height: 29vh;
    background-image: url("./../../resources/El Primo/Estrella.svg");
}

.primo-flowers2-1 {
    width: 13.8vw;
    height: 33vh;
    background-image: url("./../../resources/El Primo/Flor 3.svg");
}

.primo-flowers2-2 {
    width: 8vw;
    height: 17vh;
    rotate: 68.08deg;
    background-image: url("./../../resources/El Primo/Estrella.svg");
}

.primo-flowers2-3 {
    width: 8.5vw;
    height: 18vh;
    rotate: 130.28deg;
    background-image: url("./../../resources/El Primo/Estrella.svg");
}

.primo-flowers2-4 {
    width: 8vw;
    height: 19vh;
    background-image: url("./../../resources/El Primo/Flor 3.svg");
}

.primo-flowers3-1 {
    width: 16vw;
    height: 35vh;
    rotate: 155.28deg;
    background-image: url("./../../resources/El Primo/Estrella.svg");
}
.primo-flowers3-2 {
    width: 9vw;
    height: 16vh;
    background-image: url("./../../resources/El Primo/Flor 2.svg");
}
.primo-flowers3-3 {
    width: 12vw;
    height: 22vh;
    background-image: url("./../../resources/El Primo/Flor 2.svg");
}
.primo-flowers3-4 {
    width: 19vw;
    height: 39vh;
    rotate: 33deg;
    background-image: url("./../../resources/El Primo/Flor 1.svg");
}
.primo-flowers3-5 {
    width: 14vw;
    height: 33vh;
    background-image: url("./../../resources/El Primo/Flor 3.svg");
}


.mark-t-left {
    position: absolute;
    top: 70%;
    left: 0%;
    width: 27%;
    height: 70vh;
    background-image: url("./../../resources/El Primo/Encuadre AI.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}

.mark-t-right {
    position: absolute;
    top: 70%;
    right: 0%;
    width: 27%;
    height: 70vh;
    background-image: url("./../../resources/El Primo/Encuadre AD.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}

.mark-b-left {
    position: absolute;
    bottom: 1.5%;
    left: 0%;
    width: 27%;
    height: 70vh;
    background-image: url("./../../resources/El Primo/Encuadre BI.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}

.mark-b-right {
    position: absolute;
    bottom: 1.5%;
    right: 0%;
    width: 27%;
    height: 70vh;
    background-image: url("./../../resources/El Primo/Encuadre BD.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}

.background-carnival {
    position: absolute;
    top: 65%;
    left: -25%;
    width: 150%;
    height: 215vh;
    background-image: url("./../../resources/El Primo/ChinaTown_Background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 1) 20%);
}

.background-carnival-const {
    position: absolute;
    top: 68.5%;
    left: 0;
    width: 100%;
    height: 180vh;
    background-image: url("./../../resources/El Primo/Construccion.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

.video-carnival {
    position: absolute;
    width: 47vh;
    height: 84vh;
    overflow: hidden;
    top: 73.5%;
    left: 38.4%;
    border-radius: 3vw;
    border: 1vh solid #FFFFFF;
    z-index: 3;
    background-color: #FFFFFF;
    transition: transform 0.3s;
}

.video-carnival:hover {
    transform: scale(1.1);
}

.video-carnival video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.primo-carnival1 {
    position: absolute;
    top: 87%;
    left: 16%;
    width: 24%;
    height: 73vh;
    background-image: url("./../../resources/El Primo/Chinatown_Poster.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1vh solid #FFFFFF;
    rotate: -8.3deg;
    z-index: 3;
    transition: transform 0.3s;
}

.primo-carnival1:hover {
    transform: scale(1.1);
}

.primo-carnival2 {
    position: absolute;
    top: 89%;
    left: 50%;
    width: 39%;
    height: 42vh;
    background-image: url("./../../resources/El Primo/Chinatown_Eventbrite.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1vh solid #FFFFFF;
    rotate: 8.15deg;
    z-index: 3;
    transition: transform 0.3s;
}

.primo-carnival2:hover {
    transform: scale(1.1);
}

.primo-bambu1 {
    position: absolute;
    bottom: 0%;
    left: -4%;
    width: 21%;
    height: 143vh;
    background-image: url("./../../resources/El Primo/Bambu_I1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.primo-bambu2 {
    position: absolute;
    bottom: 0%;
    left: 27%;
    width: 21%;
    height: 107vh;
    background-image: url("./../../resources/El Primo/Bambu_I2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.primo-bambu3 {
    position: absolute;
    bottom: 0%;
    right: 27%;
    width: 19%;
    height: 128vh;
    background-image: url("./../../resources/El Primo/Bambu_D1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.primo-bambu4 {
    position: absolute;
    bottom: -0.1%;
    right: 0%;
    width: 19%;
    height: 128vh;
    background-image: url("./../../resources/El Primo/Bambu_D2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.farolillo {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: farolilloAnimation 5s infinite alternate;
    z-index: 3;
  }
  
  @keyframes farolilloAnimation {
    0% {
      transform:  rotate(-30deg);
    }
    100% {
      transform:  rotate(30deg);
    }
  }
  
  #farolillo1 {
    background-image: url("./../../resources/El Primo/Farolillo_3.png");
    top: 72.4%;
    left: 25%;
    width: 8vw;
    height: 18vh;
    transform-origin: 40% top;
    animation-duration: 6s;
    animation-delay: 0.5s;
  }
  
  #farolillo2 {
    background-image: url("./../../resources/El Primo/Farolillo_2.png");
    top: 72.2%;
    left: 68%;
    width: 6vw;
    height: 19vh;
    transform-origin: 60% top;
    animation-duration: 5s;
    animation-delay: 1s;
  }
  
  #farolillo3 {
    background-image: url("./../../resources/El Primo/Farolillo_1.png");
    top: 70.35%;
    left: 66%;
    width: 4vw;
    height: 12vh;
    transform-origin: 30% top;
    animation-duration: 7s;
    animation-delay: 0.3s;
  }




/* ---- Social ---- */
#redBar {
    width: 100%;
    height: 4.5vh;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5% 0 0.5% 0;
}

#redBar>#iconInstagram {
    width: 3%;
    height: 90%;
    background-image: url("../../resources/Iconos_Web_Instagram_SVG/Icon_Instagram_ElPrimo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}