/* HOME */

#home {
    width: 100%;
    height: 100vh;
    background-color: #071017;
    position: relative;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 12%;
}

#home>#portfolio {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#portfolio>#video {
    background-color: #0E2433;
    background-image: url("../../resources/Portfolio/Background.png");
    background-size: 100vw 700vh;
    border-radius: 50%;
    width: 35vw;
    height: 80vh;
    border: 0.5vh solid #FFFFFF;
}

.video-wrapper {
    width: 80%;
    height: 40%;
    position: relative;
    overflow: visible;
}

.video-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vid {
    width: 100%;
    height: auto;
    border-radius: 2vh;
}

#videoPlayer {
    z-index: 1;
    width: 70vw;
    height: 40vh;
}

.logo_BJ_Stroke {
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translateX(-30%);
    width: 105vh;
}

/*#home::after {
    content: "";
    position: absolute;
    width: 105vw;
    height: 105vh;
    top: -40%;
    left: -20%;
    transform: rotate(33.85deg) translateX(10%);
    background: radial-gradient(ellipse farthest-corner at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 50%);
    mix-blend-mode: soft-light;
    pointer-events: none;
    z-index: 9999;
}*/

#home>.lightBackground {
    top: -74%;
    left: 17%;
    transform: rotate(-33.85deg) translateX(10%);
}

#portfolio>#container>#name {
    font-family: 'Futura Std Light';
    font-size: 3vh;
    font-weight: 300;
    line-height: 37px;
    text-align: left;
}

#portfolio>#container>#portName {
    font-family: 'Futura Std Condensed Extra Bold';
    font-size: 7vw;
    font-weight: 750;
    text-align: left;
}

#portfolio>#container>#work {
    font-size: 3vh;
    font-weight: 300;
    line-height: 37px;
    text-align: left;
}

#buttonWork {
    width: 14vw;
    height: 8vh;
    background: #CCFF00;
    border-radius: 2vh;
    font-size: 3vh;
    cursor: pointer;
}

#buttonWork:hover {
    transform: scale(1.1);
}

/* MYWORK */

#myWork {
    width: 100%;
    height: 100%;
    background-color: #071017;
    position: relative;
    overflow: hidden;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12%;
}

#myWork>.lightBackground1 {
    top: -40vh;
    left: 35%;
    transform: rotate(-10.94deg);
}

#myWork>.lightBackground2 {
    top: 122vh;
    left: 8%;
    transform: rotate(-10.94deg);
}

#myWork>#title {
    width: 100%;
    margin-top: 10%;
    z-index: 10;
}

#myWork>#title>#name {
    margin-left: 15%;
    font-size: 3vh;
}

#containerMarks {
    width: 100%;
    height: 267.3vh;
    z-index: 10;
}

.flex_wrap_column2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}

.sizeContainer {
    width: 35vw;
    height: 45vh;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.5s ease, transform 0.5s ease;
    /* Ajuste del tiempo de transición */
    opacity: 0;
    /* Inicialmente oculto */
    transform: scale(0.5);
    /* Escalar inicialmente al 50% */
    border-radius: 15px;
    /* Agrega esquinas redondeadas al contenedor */
}

.sizeContainer.visible {
    opacity: 1;
    /* Mostrar cuando sea visible */
    transform: scale(1);
    /* Escalar al 100% cuando sea visible */
}

.sizeContainer:hover {
    transform: scale(1.1);
}

#containerMarks>#gallo {
    background-image: url("../../resources/Portfolio/Portada_Gallo_Color.png");
}

#containerMarks>#gallo:hover {
    background-image: url("../../resources/Portfolio/Portada_Gallo_Hover.png");
}

#containerMarks>#bocca {
    background-image: url("../../resources/Portfolio/Portada_Bocca.png");
}

#containerMarks>#bocca:hover {
    background-image: url("../../resources/Portfolio/Portada_Bocca_Hover.png");
}

#containerMarks>#moritz {
    background-image: url("../../resources/Portfolio/Portada_Moritz.png");
}

#containerMarks>#moritz:hover {
    background-image: url("../../resources/Portfolio/Portada_Moritz_Hover.png");
}

#containerMarks>#affinity {
    background-image: url("../../resources/Portfolio/Portada_Affinity.png");
}

#containerMarks>#affinity:hover {
    background-image: url("../../resources/Portfolio/Portada_Affinity_Hover.png");
}

#containerMarks>#tatung {
    background-image: url("../../resources/Portfolio/Portada_Ta-Tung.png");
}

#containerMarks>#tatung:hover {
    background-image: url("../../resources/Portfolio/Portada_Ta-Tung_Hover.png");
}

#containerMarks>#elprimo {
    background-image: url("../../resources/Portfolio/Portada_ElPrimo.png");
}

#containerMarks>#elprimo:hover {
    background-image: url("../../resources/Portfolio/Portada_ElPrimo_Hover.png");
}

#containerMarks>#elrowlimited {
    background-image: url("../../resources/Portfolio/Portada_ElRowLimited.png");
}

#containerMarks>#elrowlimited:hover {
    background-image: url("../../resources/Portfolio/Portada_ElRowLimited_Hover.png");
}

#containerMarks>#babiesuganda {
    background-image: url("../../resources/Portfolio/Portada_BabiesUganda.png");
}

#containerMarks>#babiesuganda:hover {
    background-image: url("../../resources/Portfolio/Portada_BabiesUganda_Hover.png");
}

#buttonOther {
    width: 18vw;
    height: 8vh;
    background: #CCFF00;
    border-radius: 2vh;
    font-size: 3vh;
    margin-bottom: 10%;
    cursor: pointer;
    z-index: 10;
}

#buttonOther:hover {
    transform: scale(1.1);
}

#spaceSlider {
    width: 100%;
    height: 0.5vh;
    background-color: #0E2433;
}

@keyframes moveLeftToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - 20px));
        /* Ancho del contenedor más margen */
    }
}

#rectangleMarks {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: grab;
    max-width: 100%;
    width: 100%;
    animation: moveLeftToRight 10s linear infinite;
    z-index: 10;
}

.sizeContainerWork {
    width: 30%;
    max-width: 300px;
    height: auto;
    margin: 0 4%;
}

/* ABOUT ME */

#aboutMe {
    width: 100%;
    height: 135vh;
    background-color: #071017;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-bottom: 12%;
}

#aboutMe>.lightBackground {
    top: -88vh;
    left: 35%;
    transform: rotate(19.65deg);
}

#aboutMeLeft {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 10;
}

#aboutMeLeft>#containerText {
    width: 75%;
    font-size: 3.5vh;
    font-family: 'Futura Std Light';
}

#aboutMeLeft>#containerText>#title {
    margin-bottom: 10%;
}

#aboutMeRight {
    width: 50%;
    z-index: 10;
}

#aboutMeRight>#circle {
    background-color: #0E2433;
    background-image: url("../../resources/Portfolio/Background.png");
    background-size: 100vw 700vh;
    border-radius: 50%;
    width: 35vw;
    height: 80vh;
    border: 0.5vh solid #FFFFFF;
    position: absolute;
    transform: translate(9%, 55%);
}

#puzzle1 {
    width: 10vh;
    position: absolute;
    top: 81%;
    left: 10%;
    transform: rotate(-80deg);
    transition: transform 0.3s ease;
}

#puzzle2 {
    width: 12vh;
    position: absolute;
    top: 27%;
    left: 53%;
    transform: rotate(15deg);
    transition: transform 0.3s ease;
}

#puzzle3 {
    width: 18vh;
    position: absolute;
    top: 82%;
    left: 88%;
    transform: rotate(15deg);
    transition: transform 0.3s ease;
}

#bernatPhoto {
    width: 70vh;
    position: absolute;
    transform: translate(15%, 25%);
}

/* CONTACT */

#contact {
    width: 100%;
    height: 125vh;
    background-color: #071017;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#contact>.lightBackground {
    top: -80vh;
    left: 25%;
}

.backgroundSizeContainer3 {
    height: 3vh;
    width: 1.5vw;
    max-width: 2.2vw;
    background-size: contain;
    background-repeat: no-repeat;
}

#contactLeft {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#contactLeft>#containerForm {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contactLeft>#containerForm>#title {
    font-size: 3vh;
}

#consultForm {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#emailFormValue, #nameFormValue, #consultFormValue {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 2vh;
    background-color: #11212D;
    color: #FFFFFF;
    font-size: medium;
    font-family: "Futura Std Light";
    font-weight: bold;
    text-align: left;
    resize: none;
    overflow-y: auto;
}

#emailFormValue::placeholder,
#nameFormValue::placeholder,
#consultFormValue::placeholder {
    color: #1B3142;
}

#buttonSend {
    width: 16vw;
    height: 8vh;
    background: #CCFF00;
    border-radius: 2vh;
    font-size: 3vh;
    font-family: "Futura Std Condensed Extra Bold";
    cursor: pointer;
}

#buttonSend:hover {
    transform: scale(1.1);
}

#contactRight {
    width: 50%;
    z-index: 10;
}

#contactRight>#circle {
    background-color: #0E2433;
    background-image: url("../../resources/Portfolio/Background.png");
    background-size: 100vw 700vh;
    border-radius: 50%;
    width: 35vw;
    height: 80vh;
    border: 0.5vh solid #FFFFFF;
    position: absolute;
    transform: translate(9%, 30%);
}

#contactContainer {
    background-color: #071017;
    border-radius: 17px;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding: 4vh;
}

#contactContainer>#emailName {
    color: #CCFF00;
}

#titleTV {
    font-size: 3vh;
}

#titleEmail {
    font-size: 3vh;
}

#buttonCV {
    width: 12vw;
    height: 6vh;
    background: #CCFF00;
    border-radius: 2vh;
    font-size: 3vh;
    font-family: "Futura Std";
    text-align: center;
    cursor: pointer;
}

#buttonCV:hover {
    transform: scale(1.1);
}

#iconTV {
    background-image: url("../../resources/Portfolio/Icon_TV.png");
    margin-right: 1vh;
}

#iconEmail {
    background-image: url("../../resources/Portfolio/Icon_Email.png");
    margin-right: 1vh;
}

#iconCV {
    background-image: url("../../resources/Portfolio/CV.png");
    margin-left: 1vh;
}


#contactLeft>#puzzle1 {
    width: 10vh;
    position: absolute;
    top: 18%;
    left: 8%;
    transform: rotate(-80deg);
    transition: transform 0.3s ease;
}

#contactLeft>#puzzle2 {
    width: 12vh;
    position: absolute;
    top: 80%;
    left: 40%;
    transform: rotate(15deg);
    transition: transform 0.3s ease;
}

#contactRight>#puzzle3 {
    width: 14vh;
    position: absolute;
    top: 25%;
    left: 88%;
    transform: rotate(-80deg);
    transition: transform 0.3s ease;
}

/* PUZZLES */

.shake-on-hover1:hover {
    animation: shake1 0.5s ease forwards;
}

.shake-on-hover2:hover {
    animation: shake2 0.5s ease forwards;
}

@keyframes shake1 {
    0% {
        transform: rotate(-80deg) translate(0, 0) rotate(0);
    }

    25% {
        transform: rotate(-80deg) translate(-5px, -5px) rotate(-5deg);
    }

    50% {
        transform: rotate(-80deg) translate(5px, 5px) rotate(5deg);
    }

    75% {
        transform: rotate(-80deg) translate(-5px, -5px) rotate(-5deg);
    }

    100% {
        transform: rotate(-80deg) translate(0, 0) rotate(0);
    }
}

@keyframes shake2 {
    0% {
        transform: rotate(15deg) translate(0, 0) rotate(0);
    }

    25% {
        transform: rotate(15deg) translate(-5px, -5px) rotate(-5deg);
    }

    50% {
        transform: rotate(15deg) translate(5px, 5px) rotate(5deg);
    }

    75% {
        transform: rotate(15deg) translate(-5px, -5px) rotate(-5deg);
    }

    100% {
        transform: rotate(15deg) translate(0, 0) rotate(0);
    }
}