/* HOME */

#home {
    width: 100%;
    height: 100vh;
    background-color: #071017;
    position: relative;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 12%;
}

#home>#portfolio {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#portfolio>#video {
    background-color: #0E2433;
    background-image: url("../../resources/Portfolio/Background.png");
    background-size: 195vh;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 35vw;
    height: 80vh;
    border: 0.5vh solid #FFFFFF;
}

.video-wrapper {
    width: 80%;
    height: 40%;
    position: relative;
    overflow: visible;
}

.video-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vid {
    width: 100%;
    height: auto;
    border-radius: 2vh;
}

#videoPlayer {
    z-index: 1;
    width: 70vw;
    height: 40vh;
}

.logo_BJ_Stroke {
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translateX(-30%);
    width: 105vh;
}

/*#home::after {
    content: "";
    position: absolute;
    width: 105vw;
    height: 105vh;
    top: -40%;
    left: -20%;
    transform: rotate(33.85deg) translateX(10%);
    background: radial-gradient(ellipse farthest-corner at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 50%);
    mix-blend-mode: soft-light;
    pointer-events: none;
    z-index: 9999;
}*/

#home>.lightBackground {
    top: -74%;
    left: 17%;
    transform: rotate(-33.85deg) translateX(10%);
}

#portfolio>#container>#name {
    font-family: 'Futura Std Light';
    font-size: 3vh;
    font-weight: 300;
    line-height: 37px;
    text-align: left;
}

#portfolio>#container>#name img {
    height: 2.5vh;
}

#portfolio>#container>#portName {
    font-family: 'Futura Std Condensed Extra Bold';
    font-size: 7vw;
    font-weight: 750;
    text-align: left;
}

#portfolio>#container>#work {
    font-size: 3vh;
    font-weight: 300;
    line-height: 37px;
    text-align: left;
}

.divButtonsHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#buttonWork {
    width: 14vw;
    height: 8vh;
    background: #CCFF00;
    border-radius: 2vh;
    font-size: 3vh;
    cursor: pointer;
    border: 0px;
    transition: transform 0.3s;
}

#buttonSobreMi {
    width: 14vw;
    height: 8vh;
    background: #FF008A;
    color: #FFFFFF;
    border-radius: 2vh;
    font-size: 3vh;
    cursor: pointer;
    border: 0px;
    transition: transform 0.3s;
}

#buttonWork:hover, #buttonSobreMi:hover, #buttonOther:hover, #aboutMeLeft>#containerText>#buttonCV:hover, #buttonSend:hover {
    transform: scale(1.1);
    background: #2B3E4B;
    color: #FFFFFF;
}

/* MYWORK */

#myWork {
    width: 100%;
    height: 320vh;
    background-color: #071017;
    position: relative;
    overflow: hidden;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12%;
}

#myWork>.lightBackground1 {
    top: -40vh;
    left: 35%;
    transform: rotate(-10.94deg);
}

#myWork>.lightBackground2 {
    top: 122vh;
    left: 8%;
    transform: rotate(-10.94deg);
}

#myWork>#title {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
}

#myWork>#title img {
    width: 3vw;
}

#myWork>#title>#name {
    margin-left: 0%;
    font-size: 3vh;
}

#myWork>#title>#name img {
    height: 2.5vh;
}

#containerMarks {
    width: 100%;
    height: 267.3vh;
    z-index: 10;
}

.flex_wrap_column2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5% 11%;
}

.sizeContainer {
    width: 35vw;
    height: 45vh;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: scale(0.5);
    border-radius: 15px;
}

.sizeContainer.visible {
    opacity: 1;
    transform: scale(1.1);
}

.sizeContainer:hover {
    transform: scale(1.2);
}

#containerMarks>#gallo {
    background-image: url("../../resources/Portfolio/Portada_Gallo_Color.png");
}

#containerMarks>#gallo:hover {
    background-image: url("../../resources/Portfolio/Portada_Gallo_Hover.png");
}

#containerMarks>#bocca {
    background-image: url("../../resources/Portfolio/Portada_Bocca.png");
}

#containerMarks>#bocca:hover {
    background-image: url("../../resources/Portfolio/Portada_Bocca_Hover.png");
}

#containerMarks>#moritz {
    background-image: url("../../resources/Portfolio/Portada_Moritz.png");
}

#containerMarks>#moritz:hover {
    background-image: url("../../resources/Portfolio/Portada_Moritz_Hover.png");
}

#containerMarks>#affinity {
    background-image: url("../../resources/Portfolio/Portada_Affinity.png");
}

#containerMarks>#affinity:hover {
    background-image: url("../../resources/Portfolio/Portada_Affinity_Hover.png");
}

#containerMarks>#tatung {
    background-image: url("../../resources/Portfolio/Portada_Ta-Tung.png");
}

#containerMarks>#tatung:hover {
    background-image: url("../../resources/Portfolio/Portada_Ta-Tung_Hover.png");
}

#containerMarks>#elprimo {
    background-image: url("../../resources/Portfolio/Portada_ElPrimo.png");
}

#containerMarks>#elprimo:hover {
    background-image: url("../../resources/Portfolio/Portada_ElPrimo_Hover.png");
}

#containerMarks>#elrowlimited {
    background-image: url("../../resources/Portfolio/Portada_ElRowLimited.png");
}

#containerMarks>#elrowlimited:hover {
    background-image: url("../../resources/Portfolio/Portada_ElRowLimited_Hover.png");
}

#containerMarks>#babiesuganda {
    background-image: url("../../resources/Portfolio/Portada_BabiesUganda.png");
}

#containerMarks>#babiesuganda:hover {
    background-image: url("../../resources/Portfolio/Portada_BabiesUganda_Hover.png");
}

.buttonOtherContainer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonOther {
    width: 18vw;
    height: 8vh;
    background: #CCFF00;
    border-radius: 2vh;
    font-size: 3vh;
    cursor: pointer;
    border: 0px;
    z-index: 10;
    transition: transform 0.3s;
}

#spaceSlider {
    width: 100%;
    height: 0.5vh;
    background-color: #0E2433;
    display: block;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    overflow: hidden;
    position: relative;
    width: 190vw;
    height: 18vh;
    margin: 0 auto;
}

.image-container {
    display: flex;
    transition: transform 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.sizeContainerWork {
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3vw;
}

.sizeContainerWork img {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    object-fit: contain;
    margin: 0;
}

.grupo1 {
    animation: moveContainer 14s linear infinite;
}

.grupo2 {
    animation: moveContainer 14s linear infinite;
    left: 100%;
}

@keyframes moveContainer {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* ABOUT ME */

#aboutMe {
    width: 100%;
    height: 135vh;
    background-color: #071017;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 12%;
}

#aboutMe>.lightBackground {
    top: -88vh;
    left: 35%;
    transform: rotate(19.65deg);
}

#aboutMeLeft {
    width: 42.5%;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 10;
}

#aboutMeLeft p {
    opacity: 0;
    transform: translateY(10vh);
    transition: opacity 2s, transform 2s;
}

#aboutMeLeft p.visible {
    opacity: 1;
    transform: translateY(0);
}

#aboutMeLeft>#containerText {
    width: 75%;
    font-size: 3.5vh;
    font-family: 'Futura Std Light';
}

#aboutMeLeft>#containerText>#title {
    margin-bottom: 5%;
}

#aboutMeLeft>#containerText>#title img {
    height: 2.9vh;
}

#aboutMeLeft>#containerText>.titleLine {
    width: 3vw;
    margin-bottom: 5%;
}

#aboutMeLeft>#containerText>#buttonCV {
    margin-top: 5%;
    background-color: #FF008A;
    color: #FFFFFF;
}

#aboutMeRight {
    width: 42.5%;
    z-index: 10;
}

#aboutMeRight>#circle {
    background-color: #0E2433;
    background-image: url("../../resources/Portfolio/Background.png");
    background-size: 195vh;
    border-radius: 50%;
    width: 38vw;
    height: 83vh;
    border: 0.5vh solid #FFFFFF;
    position: absolute;
    transform: translate(9%, 55%);
}

#puzzle1 {
    width: 8vh;
    position: absolute;
    top: 81%;
    left: 10%;
    transform: rotate(-80deg);
    transform-origin: center center;
    z-index: 20;
}

#puzzle2 {
    width: 8vh;
    position: absolute;
    top: 27%;
    left: 53%;
    transform: rotate(15deg);
    transform-origin: center center;
    z-index: 20;
}

#puzzle3 {
    width: 8vh;
    position: absolute;
    top: 82%;
    left: 88%;
    transform: rotate(15deg);
    transform-origin: center center;
    z-index: 20;
}

#bernatPhoto {
    width: 70vh;
    position: absolute;
    transform: translate(21%, 25%);
}

/* CONTACT */

#contact {
    width: 100%;
    height: 125vh;
    background-color: #071017;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#contact>.lightBackground {
    top: -80vh;
    left: 25%;
}

.backgroundSizeContainer3 {
    height: 3vh;
    width: 2vw;
    max-width: 2vw;
    background-size: contain;
    background-repeat: no-repeat;
}

#contactLeft {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#contactLeft>#containerForm {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#contactLeft>#containerForm>#title {
    font-size: 3vh;
}

#contactLeft>#containerForm>#title img {
    height: 2.5vh;
}

#consultForm {
    width: 110%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#emailFormValue, #nameFormValue, #consultFormValue {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 2vh;
    background-color: #11212D;
    color: #FFFFFF;
    font-size: medium;
    font-family: "Futura Std Light";
    font-weight: bold;
    text-align: left;
    resize: none;
    overflow-y: auto;
}

#emailFormValue::placeholder,
#nameFormValue::placeholder,
#consultFormValue::placeholder {
    color: #1B3142;
}

#buttonSend {
    width: 16vw;
    height: 8vh;
    background: #CCFF00;
    border-radius: 2vh;
    font-size: 3vh;
    font-family: "Futura Std Condensed Extra Bold";
    cursor: pointer;
    border: 0px;
    transition: transform 0.3s;
}

#contactRight {
    width: 50%;
    z-index: 10;
}

#contactRight>#circle {
    background-color: #0E2433;
    background-image: url("../../resources/Portfolio/Background.png");
    background-size: 100vw 700vh;
    border-radius: 50%;
    width: 35vw;
    height: 80vh;
    border: 0.5vh solid #FFFFFF;
    position: absolute;
    transform: translate(19%, 30%);
}

#contactContainer {
    background-color: #071017;
    border-radius: 17px;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding: 4vh;
}

#contactContainer>#emailName {
    color: #CCFF00;
}

#titleTV {
    font-size: 3vh;
}

#titleEmail {
    font-size: 3vh;
}

#buttonCV {
    width: 12vw;
    height: 6vh;
    background: #CCFF00;
    border-radius: 2vh;
    font-size: 3vh;
    font-family: "Futura Std";
    text-align: center;
    cursor: pointer;
    border: 0px;
    transition: transform 0.3s;
}

#iconTV {
    background-image: url("../../resources/Portfolio/Icon_TV.svg");
    margin-right: 1vh;
}

#iconEmail {
    background-image: url("../../resources/Portfolio/Icon_Email.svg");
    margin-right: 1vh;
}

#iconCV {
    background-image: url("../../resources/Portfolio/Icon_CV.svg");
    margin-left: 1vh;
}

#iconCVWhite {
    background-image: url("../../resources/Portfolio/Icon_CV_White.svg");
    margin-left: 1vh;
}

#contactLeft>#puzzle1 {
    width: 8vh;
    position: absolute;
    top: 18%;
    left: 8%;
    transform: rotate(-80deg);
    transform-origin: center center;
    z-index: 20;
}

#contactLeft>#puzzle2 {
    width: 8vh;
    position: absolute;
    top: 80%;
    left: 40%;
    transform: rotate(15deg);
    transform-origin: center center;
    z-index: 20;
}

#contactRight>#puzzle3 {
    width: 8vh;
    position: absolute;
    top: 18%;
    left: 88%;
    transform: rotate(-80deg);
    transform-origin: center center;
    z-index: 20;
}

/* PUZZLES */

.shake-on-hover1:hover {
    animation: shake1 0.5s ease forwards;
}

.shake-on-hover2:hover {
    animation: shake2 0.5s ease forwards;
}

@keyframes shake1 {
    0% {
        transform: rotate(-80deg) rotate(0);
    }

    25% {
        transform: rotate(-80deg) rotate(-5deg);
    }

    50% {
        transform: rotate(-80deg) rotate(5deg);
    }

    75% {
        transform: rotate(-80deg) rotate(-5deg);
    }

    100% {
        transform: rotate(-80deg) rotate(0);
    }
}

@keyframes shake2 {
    0% {
        transform: rotate(15deg) rotate(0);
    }

    25% {
        transform: rotate(15deg) rotate(-5deg);
    }

    50% {
        transform: rotate(15deg) rotate(5deg);
    }

    75% {
        transform: rotate(15deg) rotate(-5deg);
    }

    100% {
        transform: rotate(15deg) rotate(0);
    }
}

/* Estilos para tablets (por ejemplo, iPads en orientación horizontal) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Agrega tus estilos para tablets aquí */
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {
    /* Agrega tus estilos para dispositivos móviles aquí */
}

/* --- MOBILE MODE --- */
@media only screen and (max-device-width : 480px) {
    #home>.lightBackground {
        top: -38%;
        left: 17%;
        transform: rotate(-33.85deg) translateX(10%);
    }

    .light {
        width: 115.5vw;
        height: 210vh;
        position: absolute;
        border-radius: 50%;
        background: radial-gradient(ellipse farthest-corner at center, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0) 70%);
        mix-blend-mode: overlay;
        pointer-events: none;
        z-index: 1;
    }

    #home>#portfolio {
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #home>#portfolio>#container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #portfolio>#container>#name {
        font-family: 'Futura Std Light';
        font-size: 4vh;
        font-weight: 300;
        line-height: 37px;
        text-align: left;
    }

    #portfolio>#container>#portName {
        font-family: 'Futura Std Condensed Extra Bold';
        font-size: 18vw;
        font-weight: 750;
        text-align: left;
    }

    #portfolio>#container>#work {
        font-size: 2vh;
        font-weight: 300;
        line-height: 37px;
        text-align: center;
    }

    #buttonWork {
        width: 40vw;
        height: 8vh;
        background: #CCFF00;
        border-radius: 2vh;
        font-size: 3vh;
        cursor: pointer;
        border: 0px;
        transition: transform 0.3s;
    }

    #buttonSobreMi {
        width: 40vw;
    }

    #portfolio>#video {
        display: none;
    }

    /* Work */

    #myWork {
        width: 100%;
        height: 130vh;
        background-color: #071017;
        position: relative;
        overflow: hidden;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12%;
    }

    #myWork>#title {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        z-index: 10;
    }

    #myWork>#title>img {
        width: 16vw;
    }

    #myWork>#title>#name {
        margin-left: 0%;
        font-size: 4vh;
    }

    #containerMarks {
        width: 100%;
        height: 65vh;
        z-index: 10;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        overflow-x: auto;
    }

    .sizeContainer {
        flex: 0 0 auto;
        width: 65vw;
        height: 40vh;
        margin: 0 10px;
        /* Margen a ambos lados */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: opacity 0.5s ease, transform 0.5s ease;
        opacity: 0;
        transform: scale(0.5);
        border-radius: 20px;
    }

    .sizeContainer:first-child {
        margin-left: 18%;
    }

    .sizeContainer:last-child {
        margin-right: 18%;
    }

    #buttonOther {
        width: 60vw;
        height: 10vh;
        background: #CCFF00;
        border-radius: 2vh;
        font-size: 4vh;
        cursor: pointer;
        border: 0px;
        z-index: 10;
        transition: transform 0.3s;
    }

    .buttonOtherContainer {
        margin: 18% 0 18% 0;
    }

    /* SOBRE MI*/

    #aboutMe {
        width: 100%;
        height: 135vh;
        background-color: #071017;
        color: #FFFFFF;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 12%;
    }

    #aboutMeLeft {
        width: 90%;
        height: 50%;
        display: flex;
        justify-content: left;
        align-items: center;
        z-index: 10;
    }

    #puzzle1 {
        display: none;
        width: 8vh;
        position: absolute;
        top: 43%;
        left: 10%;
        transform: rotate(-80deg);
        transform-origin: center center;
        z-index: 20;
    }

    #aboutMeLeft>#containerText {
        width: 100%;
        font-size: 2.5vh;
        text-align: center;
        font-family: 'Futura Std Light';
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #aboutMeLeft>#containerText #title span {
        font-size: 3vh;
    }

    #aboutMeLeft>#containerText>.titleLine {
        width: 16vw;
    }

    #aboutMeRight {
        width: 100%;
        height: 50%;
        z-index: 10;
    }

    #puzzle2 {
        display: none;
        width: 8vh;
        position: absolute;
        top: 4%;
        left: 75%;
        transform: rotate(15deg);
        transform-origin: center center;
        z-index: 20;
    }

    #puzzle3 {
        display: none;
        width: 8vh;
        position: absolute;
        top: 44%;
        left: 71%;
        transform: rotate(15deg);
        transform-origin: center center;
        z-index: 20;
    }

    #aboutMeRight>#circle {
        background-color: #0E2433;
        background-image: url(../../resources/Portfolio/Background.png);
        /* background-size: 197vh; */
        border-radius: 50%;
        width: 85vw;
        height: 60vh;
        border: 0.5vh solid #FFFFFF;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 12%);
    }

    #bernatPhoto {
        width: 44vh;
        position: absolute;
        bottom: 7%;
        left: 50%;
        transform: translate(-50%, 25%);
    }

    /* CONTACT */

    #contact {
        width: 100%;
        height: 170vh;
        background-color: #071017;
        color: #FFFFFF;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    #contactLeft {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #contactLeft>#containerForm {
        height: 88%;
    }

    #buttonSend {
        width: 30vw;
    }

    #contactRight {
        width: 100%;
        height: 50%;
        z-index: 10;
    }

    #contactRight>#circle {
        background-color: #0E2433;
        background-image: url(../../resources/Portfolio/Background.png);
        background-size: 195vh;
        border-radius: 50%;
        width: 80vw;
        height: 60vh;
        border: 0.5vh solid #FFFFFF;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 17%);
    }

    #contactContainer {
        background-color: #071017;
        border-radius: 17px;
        height: 70%;
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding: 4vh;
        border: 0.5vh solid #0E2433;
    }

    .backgroundSizeContainer3 {
        height: 4vh;
        width: 8vw;
        max-width: 8vw;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #contactContainer #icons.flex_between {
        display: flex !important;
        width: 34vw;
    }

    .backgroundSizeContainer {
        background-size: contain;
        background-repeat: no-repeat;
        height: 5vh;
        width: 37vw;
        max-width: 7.2vw;
        cursor: pointer;
    }

    #buttonCV {
        width: 48vw;
        height: 6vh;
        background: #CCFF00;
        border-radius: 2vh;
        font-size: 3vh;
        font-family: "Futura Std";
        text-align: center;
        cursor: pointer;
        border: 0px;
        transition: transform 0.3s;
    }

    #contactLeft>#puzzle1 {
        display: none;
        width: 8vh;
        position: absolute;
        top: 1%;
        left: 5%;
        transform: rotate(-80deg);
        transform-origin: center center;
        z-index: 20;
    }

    #contactLeft>#puzzle2 {
        display: none;
        width: 8vh;
        position: absolute;
        top: 38%;
        left: 13%;
        transform: rotate(15deg);
        transform-origin: center center;
        z-index: 20;
    }

    #contactRight>#puzzle3 {
        display: none;
        width: 8vh;
        position: absolute;
        top: 46%;
        left: 77%;
        transform: rotate(-80deg);
        transform-origin: center center;
        z-index: 20;
    }

}